<h3>
  {{title}}
</h3>

<hr/>

<nav>
    <a [routerLink]="['/Pagina-Principal']" [routerLinkActive]="['activado']">
      Home
    </a>
    -
    <a [routerLink]="['/productos']" [routerLinkActive]="['activado']">
      Productos
    </a>
    -
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">
      Empleados
    </a>
    -
    <a [routerLink]="['/contactos']" [routerLinkActive]="['activado']">
      Contactos
    </a>
</nav>

<!--<productos></productos>-->

<!--<empleado-tag></empleado-tag>-->

<router-outlet></router-outlet>


