.fondoAzul{
    background-color:  lightblue !important;
}
.fondoVerde{
    background-color:  greenyellow !important;
}
.letraGrande{
    font-size: 40px;
}
.activado{
    font-weight: bold;
    background: greenyellow;
}